html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    height: 100%;
}

body {
  background: url('https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/JYLJEI3JUN.jpg') no-repeat;
  background-size: cover;
  display: table;
  width: 100%;
}

h2 {
  text-align: center;
  color: white;
}

form:focus:required:invalid {
  border-color: #a94442;
}

/* * * * *     Range Slider     * * * * */

input[type=range] {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 50%;
  height: 12.8px;
  cursor: pointer;
  background: #4CAF50;
  background: -webkit-linear-gradient(to left, #F44336, #4CAF50);
  background: linear-gradient(to left, #F44336, #4CAF50);
  border-radius: 25px;
  border: 0px solid #000101;
}
